<app-navbar></app-navbar>
<div class="container-xxl">
  <div class="d-flex justify-content-end gap-2 mb-3 mt-3">
    <button type="button" class="btn btn-primary" (click)="open(createOrder)">Add new product</button>
    <button type="button" class="btn btn-danger" (click)="open(deletionConfirmation)">Remove products</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Availability</th>
      <th scope="col" class="w-25">Operations</th>
    </tr>
    </thead>
    <tbody>
    @for (product of products; track product.id) {
    <tr>
      <th scope="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </th>
      <td> {{ product.id }}</td>
      <td> {{ product.name }}</td>
      <td> {{ product.price }}</td>
      <td> {{ product.availability }}</td>
      <td class="w-25">
  <div class="d-inline-flex flex-row gap-3">
    <button type="button" class="btn btn-outline-primary" (click)="onEdit()">Edit</button>
    <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
  </div>
      </td>
    </tr>
    }

    </tbody>
  </table>

</div>

<ng-template #deletionConfirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Products deletetion</h4>
    <button type="button" ngbAutofocus class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you <strong>sure</strong> you want to delete <strong class="text-danger">5</strong> products?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button"  class="btn btn-danger" (click)="modal.close('delete click')">Delete</button>
  </div>
</ng-template>


<ng-template #createOrder let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add new product</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="mb-3 d-flex flex-column gap-3">
        <div class="form-floating">
          <input formControlName="name" id="name" placeholder="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <label for="name">Name</label>
        </div>

        <div class="form-floating">
          <input formControlName="price" id="surname" placeholder="Price" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <label for="name">Price</label>
        </div>

        <div class="form-floating">
          <input formControlName="quantity" id="email" placeholder="Quantity" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <label for="email">Quantity</label>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid" (click)="onCreateSubmit(modal)">Save</button>
  </div>
</ng-template>
